apiVersion: v1
data:
  KAFKA_SCHEMA_REGISTRY: http://schemas.kafka:80
  KAFKA_SERVERS: broker.kafka:9092
kind: ConfigMap
metadata:
  name: flow-maps-consumer
  namespace: default
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: flow-maps-consumer
  namespace: default
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/port: '3000'
spec:
  replicas: 1
  selector:
    matchLabels:
      run: flow-maps-consumer
  template:
    metadata:
      labels:
        run: flow-maps-consumer
        flow-maps-version: $TRAVIS_COMMIT
        app: flow-maps
    spec:
      containers:
      - name: flow-maps-consumer
        image: eu.gcr.io/akvo-lumen/akvo-flow-maps-consumer:$TRAVIS_COMMIT
        ports:
        - containerPort: 3000
        livenessProbe:
          httpGet:
            path: /healthz
            port: 3000
          initialDelaySeconds: 30
        readinessProbe:
          httpGet:
            path: /healthz
            port: 3000
          initialDelaySeconds: 30
        resources:
          requests:
            cpu: "50m"
          limits:
            cpu: "1000m"
        env:
         - name: DATABASE_URL
           valueFrom:
             secretKeyRef:
               name: flow-maps-consumer
               key: db-url
         - name: KEYCLOAK_URL
           valueFrom:
             configMapKeyRef:
               name: akvo
               key: keycloak.url
         - name: KAFKA_SERVERS
           valueFrom:
             configMapKeyRef:
               name: flow-maps-consumer
               key: KAFKA_SERVERS
         - name: KAFKA_SCHEMA_REGISTRY
           valueFrom:
             configMapKeyRef:
               name: flow-maps-consumer
               key: KAFKA_SCHEMA_REGISTRY
         - name: POD_NAME
           valueFrom:
             fieldRef:
               fieldPath: metadata.name
         - name: POD_NAMESPACE
           valueFrom:
             fieldRef:
               fieldPath: metadata.namespace
      - name: prometheus-to-sd
        image: gcr.io/google-containers/prometheus-to-sd:v0.2.1
        ports:
          - name: profiler
            containerPort: 6060
        command:
          - /monitor
          - --stackdriver-prefix=custom.googleapis.com
          - --source=flow-maps-consumer:http://localhost:3000/metrics
          - --pod-id=$(POD_NAME)
          - --namespace-id=$(POD_NAMESPACE)
        resources:
          requests:
            cpu: "10m"
          limits:
            cpu: "100m"
        env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
---
apiVersion: v1
kind: Service
metadata:
  name: flow-maps-consumer
  namespace: default
  labels:
    run: flow-maps-consumer
  annotations:
    prometheus.io/scrape: 'true'
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
  selector:
    run: flow-maps-consumer