apiVersion: v1
data:
  KAFKA_SCHEMA_REGISTRY: http://schemas.kafka:80
  KAFKA_SERVERS: broker.kafka:9092
kind: ConfigMap
metadata:
  name: flow-maps-consumer
  namespace: flow-maps
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: flow-maps-consumer
  namespace: flow-maps
spec:
  replicas: 1
  template:
    metadata:
      labels:
        run: flow-maps-consumer
        flow-maps-version: $TRAVIS_COMMIT
    spec:
      containers:
      - name: flow-maps-consumer
        image: eu.gcr.io/akvo-lumen/akvo-flow-maps-consumer:$TRAVIS_COMMIT
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: "50m"
          limits:
            cpu: "1000m"
        env:
         - name: DATABASE_URL
           valueFrom:
             secretKeyRef:
               name: flow-maps-consumer
               key: db-url
         - name: KAFKA_SERVERS
           valueFrom:
             configMapKeyRef:
               name: flow-maps-consumer
               key: KAFKA_SERVERS
         - name: KAFKA_SCHEMA_REGISTRY
           valueFrom:
             configMapKeyRef:
               name: flow-maps-consumer
               key: KAFKA_SCHEMA_REGISTRY
         - name: POD_NAME
           valueFrom:
             fieldRef:
               fieldPath: metadata.name
         - name: POD_NAMESPACE
           valueFrom:
             fieldRef:
               fieldPath: metadata.namespace
---
apiVersion: v1
kind: Service
metadata:
  name: flow-maps-consumer
  namespace: flow-maps
  labels:
    run: flow-maps-consumer
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
  selector:
    run: flow-maps-consumer