apiVersion: v1
data:
  EXTRA_NODE_OPTS: ''
kind: ConfigMap
metadata:
  name: flow-maps-windshaft
  namespace: default
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: flow-maps-windshaft
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      run: flow-maps-windshaft
  template:
    metadata:
      labels:
        run: flow-maps-windshaft
        flow-maps-version: $TRAVIS_COMMIT
        app: flow-maps
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '9102'
    spec:
      containers:
      - name: flow-maps-windshaft
        image: eu.gcr.io/akvo-lumen/akvo-flow-maps-windshaft:$TRAVIS_COMMIT
        ports:
        - containerPort: 4000
        livenessProbe:
          httpGet:
            path: /healthz
            port: 4000
          initialDelaySeconds: 5
        readinessProbe:
          httpGet:
            path: /healthz
            port: 4000
          initialDelaySeconds: 5
        resources:
          requests:
            cpu: "50m"
          limits:
            cpu: "1000m"
        env:
        - name: ENCRYPTION_KEY
          valueFrom:
            secretKeyRef:
              name: flow-maps-windshaft
              key: encryption_key
        - name: EXTRA_NODE_OPTS
          valueFrom:
             configMapKeyRef:
               name: flow-maps-windshaft
               key: EXTRA_NODE_OPTS
      - name: flow-maps-statsd-to-prometheus
      # If you change this version, probably you want to change the /windsahft/Dockerfile version
        image: akvo/akvo-maps-statsd-to-prometheus:0c6b3f41
        ports:
        - containerPort: 9125
        - containerPort: 9102
        livenessProbe:
          tcpSocket:
             port: 9125
          initialDelaySeconds: 5
        readinessProbe:
          tcpSocket:
             port: 9125
          initialDelaySeconds: 5
        resources:
          requests:
            cpu: "10m"
          limits:
            cpu: "100m"
      - name: prometheus-to-sd
        image: gcr.io/google-containers/prometheus-to-sd:v0.2.1
        ports:
          - name: profiler
            containerPort: 6060
        command:
          - /monitor
          - --stackdriver-prefix=custom.googleapis.com
          - --source=flow-maps-windshaft:http://localhost:9102/metrics
          - --pod-id=$(POD_NAME)
          - --namespace-id=$(POD_NAMESPACE)
        resources:
          requests:
            cpu: "10m"
          limits:
            cpu: "100m"
        env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
---
apiVersion: v1
kind: Service
metadata:
  name: flow-maps-windshaft
  namespace: default
  labels:
    run: flow-maps-windshaft
spec:
  type: NodePort
  ports:
  - port: 4000
    targetPort: 4000
  selector:
    run: flow-maps-windshaft