/target
/logs
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.dir-locals.el
/profiles.clj
/backend/dev/resources/local.edn
/backend/dev/src/local.clj
.idea
*.iml
.DS_Store
backend/.nrepl-port
backend/logs/
backend/src/akvo/flow/.DS_Store
backend/target/
